.App {
	height: 100vh;
	font-size: 16px;
	background-color: rgb(243, 243, 243);
}
header {
	min-height: 10vh;
	background: rgb(255, 255, 255);
}

main {
	min-height: 80vh;
	padding: 10px 10px 10px 10px;
}
p {
	font-size: 16px;
}
span {
	font-size: 14px;
}
input[type='checkbox'] {
	box-shadow: none !important;
}
.file {
	width: 20%;
}
input[type='file'] {
	opacity: 0;
	width: 5%;
	position: absolute;
}
.editor {
	min-height: 80vh;
	outline: none !important;
}
.editor-view {
	min-height: 70vh;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
	padding: 40px 60px;
	width: 80%;
	margin: auto;
}
