.App {
	min-height: 100vh;
	font-size: 16px;
	background-color: rgb(243, 243, 243);
}
header {
	min-height: 10vh;
	background: rgb(255, 255, 255);
}

main {
	min-height: 80vh;
	padding: 10px 10px 10px 10px;
}
p {
	font-size: 16px;
}
span {
	font-size: 14px;
}
input[type='checkbox'] {
	box-shadow: none !important;
}
.file {
	width: 20%;
}
input[type='file'] {
	opacity: 0;
	width: 40%;
	position: absolute;
}
.editor-view {
	min-height: 70vh;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
	padding: 40px 60px;
	width: 85%;
	margin: auto;
	background: rgb(255, 255, 255);
	overflow-y: scroll;
	outline: none !important;
}
p.Heading1 {
	color: red !important;
}
table.bordered,
table.bordered th,
table.bordered tr,
table.bordered td {
	border: 1px solid #3d3d3d;
}
table.bordered th {
	padding: 0.5em;
}
table.bordered {
	border-collapse: collapse;
}

button {
	background: none;
	border: none;
}
img {
	width: 200px;
}
.showText {
	width: 100%;
}
a {
	cursor: pointer;
	text-decoration: none;
}
